<% if (totalPages > 1) { %>
    <div class="pagination">
      <% if (currentPage > 1) { %>
        <a href="?page=<%= currentPage - 1 %>" class="page-link">&laquo; Précédent</a>
      <% } %>
  
      <% for (let i = 1; i <= totalPages; i++) { %>
        <a href="?page=<%= i %>" 
           class="page-link <%= currentPage === i ? 'active' : '' %>">
          <%= i %>
        </a>
      <% } %>
  
      <% if (currentPage < totalPages) { %>
        <a href="?page=<%= currentPage + 1 %>" class="page-link">Suivant &raquo;</a>
      <% } %>
    </div>
  <% } %>