
<h2>Liste des Campagnes Disponibles</h2>

<% if (campaigns.length > 0) { %>
  <ul>
    <% campaigns.forEach(campaign => { %>
      <li>
        <strong><%= campaign.title %></strong><br>
        Description : <%= campaign.description %><br>
        Date : du <%= campaign.startDate.toLocaleDateString() %> au <%= campaign.endDate.toLocaleDateString() %><br>
        Horaire : <%= campaign.startTime %> - <%= campaign.endTime %><br>
        Lieu : <%= campaign.location %><br><br>

        <!-- 🔥 Le bouton Voir Détail ici -->
        <a href="/api/campaigns/<%= campaign._id %>">
          <button>Voir Détail</button>
        </a>
        
        </a>
      </li>
      <hr>
    <% }) %>
  </ul>
<% } else { %>
  <p>Aucune campagne disponible pour l'instant.</p>
<% } %>
